*{
	margin:0px;padding: 0px;list-style: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html,body{
	width:100%;height: 100%;
	font-size: 16px;
	font-family: "微软雅黑";
}
#root{
	width: 100%;
	height: 100%;
}
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 10ms ease-in;
}
.mui-pull-left{
	float:left;
}
.mui-pull-right{
	float:right;
}
.picker {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 0px;
  z-index: 90;
}
.picker-mask {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.picker-body {
  position: absolute;
  width: 100%;
  height: 256px;
  bottom: 0px;
  background-color: #f7f7f7;
}
.picker-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 4px;
}
.picker-navbar {
  height: 36px;
  width: 100%;
  padding: 0;
  border-bottom: 1px solid #acacac;
  padding: 0px 10px;
}
.picker-navbar-btn {
  color: #007aff;
  line-height: 36px;
}
.picker-scroll {
  font-size: 18px;
}
.picker-scroll > li {
  height: 40px;
  line-height: 40px;
  color: #3b3b3b;
  text-align: center;
}
.picker-viewport {
  height: 200px;
  position: relative;
  overflow: hidden;
}
.datepicker-col-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.picker .picker-viewport:after {
  background: -webkit-linear-gradient(#f7f7f7, rgba(245, 245, 245, 0) 52%, rgba(245, 245, 245, 0) 48%, #f7f7f7);
  background: linear-gradient(#f7f7f7, rgba(245, 245, 245, 0) 52%, rgba(245, 245, 245, 0) 48%, #f7f7f7);
}
.picker .picker-viewport:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
.picker .picker-wheel {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  position: absolute;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  width: 100%;
  line-height: 40px;
  padding-left: 75%;
}
